<!DOCTYPE html>
<html>
	<head>
	<title>About Me</title>
	</head>
	<body>
	<h1>Hubbell, Eleanora</h1>
	<p>1. I have a dog and a cat.<br>
  2. I have been vegetarian my whole life.<br>
  3. I am a physics major and CS minor.<br>
  I'm studying CS because I like the available job opportunities. </p>

  <h2>My Professional Profile</h2>
  <p>
    <img src="https://66.media.tumblr.com/e4f9f16eff2eeb91f2e24f3258c546ec/tumblr_pcrh5jF1QK1wbonm6o1_500.png" width = "500" alt="Me, Trying To Do My Systems HW">
    <p>
    <a href="https://github.com/e-nora">GitHub</a>
    <br><br>
  </p>

  <h3>My Favorite Projects</h3>
  <p>
    <table border = "1">
      <tr>
        <td><b>Name of the Project</b></td>
        <td><b>Technologies Used</b></td>
      </tr>
      <tr>
        <td>Neopets Profile circa 2008</td>
        <td>HTML </td>
      </tr>
      <tr>
        <td>Tumblr Page circa 2013</td>
        <td>HTML </td>
      </tr>
      <tr>
        <td><p></td>
        <td><p></td>
      </tr>
    </table>
    <br>
  </p>
  <h3>My Interests</h3>
  <p>
    <ul>
      <li> Sleeping </li>
      <li> Eating </li>
      <li> Drinking water</li>
    </ul>
  </p>
	</body>
</html>
